@model PresentationLayer.ViewModels.AboutViewModel
@{
    ViewBag.Title = "About";
}
<h1>F-Reizen</h1>
<hr />
<h3>Al 50 jaar hét startpunt voor uw mooiste dagen van het jaar</h3>
<ul>
    <li>Het meest klantgerichte bedrijf van 2016 volgens ruim 12.000 consumenten.</li>
    <li>Grootste onafhankelijke reisorganisatie van Nederland met ruim 1.000.000 klanten.</li>
    <li> Altijd de beste deal uit het assortiment van ruim 150 reisorganisaties.</li>
    <li>365 dagen per jaar tot 23:00 uur hulp en advies van onze Persoonlijke Reisassistenten.</li>
</ul>

<h3>Het begon met een kassabon</h3>
<p>
    In 1965 was er een spaaractie in de supermarkt van Dirk van den Broek: klanten konden kassabonnen sparen voor korting op een busreis naar Italië. Deze actie was zo’n groot succes - mede door de lage prijs van 97,50 gulden p/p - dat Dirk van den Broek niet lang daarna het allereerste reisbureau van F-Reizen, toen nog D-tours, aan de Bilderdijkstraat in Amsterdam opende. Al snel volgden reisbureaus in Haarlem, Rotterdam, Utrecht, Eindhoven en de rest van Nederland.
</p>
<h3>Wij zijn bereikbaar waar en wanneer u wilt</h3>    
<p>
    Nu, 50 jaar later, zijn we de grootste onafhankelijke reisorganisatie van Nederland met 230 reisbureaus en ruim 1.000.<a style="color:#333" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO">0</a>00 klanten. En zijn we bereikbaar waar en wanneer u, de klant van vandaag, ons wilt bereiken:
</p>
<ul>
    <li>In 230 reisbureaus verspreid over heel Nederland</li>
    <li>Via ons Customer Contact Center. 365 dagen per jaar zijn wij tot 23:00 uur via telefoon, mail, chat en sociale media bereikbaar voor boekingen, advies en elke denkbare vakantievraag</li>
    <li>Op F-Reizen.nl, waar u een groot deel van onze vakanties direct online kunt zoeken en boeken</li>
</ul>
<h3>Wilt u gemakkelijk de beste deal vinden?</h3>    

<p>
    Wij maken het vinden van uw vakantie graag gemakkelijk voor u. Daarom vergelijkt en doorzoekt u op F-Reizen.nl met één zoekopdracht alle vakanties van alle grote touroperators. Reken maar dat u daarmee een hoop vergelijkingstijd bespaart!
</p>    
<p>
    U kunt het zoeken ook volledig uitbesteden aan één van onze Persoonlijke Reisassistenten. Maak eens een afspraak in één van onze reisbureaus of deel uw vakantiewensen via mail, telefoon of sociale media met ons. Als uw Reisassistent de perfecte reis gevonden heeft, kan zij die voor u boeken. Vervolgens is zij uw vaste aanspreekpunt voor al uw verdere vragen: voor, tijdens en na uw vakantie!
</p>
<h3>Hoe kunnen wij u verder helpen?</h3>    
<ul>
    <li>@Html.ActionLink("Zoek en boek uw vakantie online", "Index", "Home")</li>
    <li>@Html.ActionLink("Bekijk al onze contactgegevens", "Contact", "Home")</li>
</ul>





